@import "tailwindcss";

@theme{
   --font-nunito:"Nunito" ,sans-serif;
}

#root,body, html {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
   
}
.custom-sidebar-scroll {
  overflow-y: auto; /* Crucial: Enables scrolling */
  scrollbar-width: none; /* Hide for Firefox */
  -ms-overflow-style: none;  /* Hide for IE and Edge */
}

/* For Webkit browsers (Chrome, Safari, newer Edge) */
.custom-sidebar-scroll{
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
 
  transition: scrollbar-color .3s;
   &:hover {
    scrollbar-color: rgb(231, 231, 231) transparent;
   
  }
   &::-webkit-scrollbar {
    width: 18px;
  }

  

 
}

